GBF_LOGIN=
GBF_PASSWORD=

# 0 - OFF
# 1 - ON
HEADLESS_MODE = 0

# For Raids
# Naming is in english according to http://gbf-raidfinder.aikats.us
RAID_BOSS_NAME=

# Your skill queue
# a = 1st skill, b = 2nd skill and so on, delimited by ">"
# Example: 1a > 2b > 3d
# 5 is a support summon
# For GW the queue that will be used will be the first one
QUEUE_FIRST_FIGHT=
QUEUE_SECOND_FIGHT=

# Support summon element
# 1 - Fire
# 2 - Water
# 3 - Earth
# 4 - Wind
# 5 - Light
# 6 - Dark
SUPPORT_ELEMENT = 5